<h1>Freelancers</h1>

<div class="row mt-5 mb-5" id="card">
    <!-- <div class="d-flex justify-content-between"> -->
      <% @freelancers.each do |freelancer| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= render partial: 'card', locals: { freelancer: freelancer } %>
      </div>
      <% end %>
    </div>
